<!DOCTYPE html PUBLIC>
<html>
  <head>
    <title>Demo » E9s</title>
    <%= stylesheet_link_tag "app" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="page">
      <%= yield %>
    </div>
  </body>
</html>