<html>
  <head>
    <title>E9s Demo » Rails <%= Rails::VERSION::STRING %> » by Paul Engel » @archan937</title>
    <%= stylesheet_link_tag "app" %>
  </head>
  <body>
    <div id="page">
      <%= yield %>
    </div>
  </body>
</html>